/* ==========
   fonts : source sans pro - consolas
   ========== */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

/* ==========
   font-face for consolas font
   ========== */
@font-face {
    font-family: "Consolas";
    src: url("fonts/Consolas.ttf") format("truetype");
}

:root {
    --font-family: "Source Sans Pro";
    --font-weight-600: 600;
    --font-weight-700: 700;
    --border-radius-size: 22px;
    --padding-block: 0.6em;
    --padding-inline: 2.4em;
    --green: #04aa6d;
    --green-hover: #0e9161;
    --editor-green: #4caf50;
    --bluish: #00b6ce;
    --w3css-bluish: #96d4d4;
    --softPink: #ffc0c7;
    --beige: #fff4a3;
    --beige-hover: #e9d966;
    --grayish: #e7e9eb;
    --java-white: #f3ecea;
    --gray-hover: #cccccc;
    --white-darkening: #d8d7d7;
    --soft-grayish :#d9eee1;
    --red-brownish: #ff9999;
    --soft-purple: #C5A5C5;
    --white: #fff;
    --black: #000;
    --light-black: #282a35;
    --footer-blue: #384694
}

html {
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* ==========
   styling header section
   ========== */
header {
    height: 75px;
    background-color: var(--white);
}

header.flex {
    display: flex;
}

.left {
    width: 50%;
}

.left.flex {
    display: flex;
}

.logo {
    width: 90px;
    height: 75px;
}

.logo a {
    display: inline-block;
    width: 100%;
}

.logo a:hover {
    opacity: 0.8;
}

.logo img {
    display: block;
    width: 50px;
    margin: 1em auto;
}

.menu {
    font-size: 1.8rem;
    font-weight: var(--font-weight-600);
}

.menu a {
    color: var(--black);
    height: 100%;
    padding: 1.4em 1em;
}

.menu a:hover {
    background-color: var(--green);
    color: var(--white);
}

.menu i {
    position: relative;
    top: -3px;
}

.right.flex {
    display: flex;
    justify-content: flex-end;
}

.right {
    width: 50%;
}

.icons-1 {
    font-size: 1.8rem;
    padding: 1.6em 0;
}

.icons-1 i:hover {
    color: var(--green);
    cursor: pointer;
}

.icons-1 i:nth-child(1) , i:nth-child(2) {
    margin-right: 1em;
}

.buttons.flex {
    justify-content: center;
    align-items: center;
}

.buttons {
    font-size: 1.8rem;
    text-align: right;
}

.buttons a {
    margin: .9em 0.8em;
    font-weight: var(--font-weight-600);
}

.buttons span {
    font-size: 1.1rem;
    font-weight: var(--font-weight-600);
    display: inline-block;
    padding: 0.3em 0.68em;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.buttons a:nth-child(1) {
    background-color: var(--softPink);
    color: var(--black);
    padding: 0.6em .8em;
    border-radius: var(--border-radius-size);
    margin-right: -.5em;
}

.buttons a:nth-child(1):hover {
    color: var(--white);
    background-color: var(--green);
}

.buttons a:nth-child(2) {
    color: var(--black);
    padding: 0.6em 1em;
    margin-right: -0.5em;
}

.buttons a:nth-child(2):hover {
    color: var(--white);
    background-color: var(--green);
    border-radius: var(--border-radius-size);
}

.buttons a:nth-child(3) {
    color: var(--white);
    background-color: var(--green);
    border-radius: var(--border-radius-size);
    padding: 0.6em 2.3em;
}

.buttons a:nth-child(3):hover {
    background-color: var(--green-hover);
}

/* ==========
   making header section responsive
   ========== */
@media screen and (max-width: 1200px) {
    .buttons span {
        display: none;
    }
}

@media screen and (max-width: 1130px) {
    .menu a:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 1040px) {
    .buttons a:nth-child(2) {
        display: none;
    }

    .right {
        width: 45%;
    }    

    .left {
        width: 55%;
    }
}

@media screen and (max-width: 950px) {
    .menu a:nth-child(1),
    .menu a:nth-child(2),
    .menu a:nth-child(3),
    .buttons a:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 585px) {
    .right {
        width: 50%;
    }

    .left {
        width: 50%;
    }
}

@media screen and (max-width: 530px) {
    .icons-1 {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .left {
        width: 30%;
    }

    .right {
        width: 70%;
    }

    .buttons a:nth-child(3) {
        padding: 0.6em 1.5em;
    }
}

/* ==========
   styling nav section for smaller screen sizes
   ========== */
.nav {
    min-height: 355px;
    background-color: var(--grayish);
    display: none;
}

.nav ul {
    list-style-type: none;
    font-size: 2.3rem;
    height: 100%;
    font-weight: var(--font-weight-600);
}

.nav li {
    width: 100%;
    text-align: center;
}

ul.flex {
    display: flex;
    flex-direction: column;
}

.nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-block: 0.48em;
    color: var(--black);
}

.nav a:hover {
    background-color: var(--gray-hover);
}

.nav i {
    position: relative;
    top: -3px;
    margin-left: 0.1em;
}

@media screen and (max-width: 950px) {
    .nav {
        display: block;
    }
}

@media screen and (max-width: 590px) {
    .nav {
        min-height: 292px;
    }
    .nav ul {
        font-size: 1.9rem;
    }
}

/* ==========
   styling html tutorial section
   ========== */
.html-section.main-flex-1 {
    display: flex;
    justify-content: space-between;
}

.html-section {
    min-height: 535px;
    background-color: var(--light-black);
}

.html-desc {
    width: 48%;
    text-align: center;
    padding-top: 6.5em;
}

.html-desc p:nth-child(1) {
    color: var(--white);
    font-size: 10rem;
    font-weight: var(--font-weight-700);
}

.html-desc p:nth-child(2) {
    color: var(--white);
    font-size: 1.9rem;
    font-weight: var(--font-weight-600);
    margin-top: 0.8em;
}

.html-buttons {
    font-size: 1.9rem;
    margin-top: 1.2em;
    transition: all 250ms ease;
}

.html-buttons.main-flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html-buttons a {
    display: inline-block;
    width: 200px;
    border-radius: var(--border-radius-size);
    padding: 0.6em 1.3em;
}

.html-buttons a:nth-child(1) {
    background-color: var(--green);
    color: var(--white);
}

.html-buttons a:nth-child(1):hover {
    background-color: var(--green-hover);
}

.html-buttons a:nth-child(2) {
    background-color: var(--beige);
    color: var(--black);
    position: relative;
}

.html-buttons a:nth-child(2):hover {
    background-color: var(--beige-hover);
}

.html-buttons a:nth-child(3) {
    background-color: var(--white);
    color: var(--black);
}

.html-buttons a:nth-child(3):hover {
    background-color: var(--white-darkening);
}

.html-buttons a:nth-child(2) , .html-buttons a:nth-child(3) {
    margin-top: 1em;
}

.html-buttons span {
    font-size: 1.4rem;
    width: 50px;
    font-weight: var(--font-weight-600);
    display: inline-block;
    background-color: var(--softPink);
    border-radius: 20px;
    padding: 0.3em 0.2em;
    position: absolute;
    top: -7px;
    left: -13px;
    transform: rotate(-25deg);
}

.html-editor {
    width: 52%;
}

.html-editor.main-flex-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayish {
    background-color: var(--grayish);
    width: 80%;
    height: 393px;
    border-radius: 5px;
}

.grayish > p {
    font-size: 2.4rem;
    font-weight: var(--font-weight-600);
    padding: 1em 0.62em 0;
}

.html-codes {
    width: 95%;
    height: 245px;
    margin: 1.3em auto;
    font-size: 1.46rem;
    font-family: Consolas;
    line-height: 1.3;
    background-color: var(--light-black);
    padding: 0.6em 0.9em;
}

.html-codes p {
    color: var(--white);
}

.html-codes p:nth-child(5) {
    margin-top: 2em;
}

.html-codes p:nth-child(7) {
    margin-top: 2em;
}

span.unicode {
    color: var(--green);
    font-size: 1.56rem;
    font-weight: var(--font-weight-600);
}

span.soft-purple {
    color: var(--soft-purple);
}

span.element {
    color: var(--red-brownish);
    margin-left: -0.48em;
}

span.greater {
    margin-left: -0.48em;
}

a.try-it {
    display: inline-block;
    text-align: center;
    width: 200px;
    font-size: 1.9rem;
    margin: -0.2em 0 0 0.8em;
    font-weight: var(--font-weight-600);
    color: var(--white);
    background-color: var(--green);
    padding: 0.6em 1.6em;
    border-radius: var(--border-radius-size);
}

a.try-it:hover {
    background-color: var(--green-hover);
}

/* ==========
   making html tutorial section responsive
   ========== */
@media screen and (max-width: 1000px) {
    .html-section.main-flex-1 {
        flex-direction: column;
        justify-content: space-between;
    }

    .html-desc , .html-editor {
        width: 100%;
    }

    .grayish {
        margin-block: 6em 3em;
        width: 90%;
    }

    .grayish div:nth-child(3) {
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    .html-editor {
        display: none !important;
    }

    .html-section {
        min-height: 490px;
    }
}

@media screen and (max-width: 450px) {
    .html-desc p:nth-child(1) {
        font-size: 7rem;
    }

    .html-desc p:nth-child(2) {
        font-size: 1.7rem;
    }
}

/* ==========
   styling css tutorial section
   ========== */
.css-section.main-flex-1 {
    display: flex;
    justify-content: space-between;
}

.css-section {
    min-height: 535px;
    background-color: var(--soft-grayish);
}

.css-desc {
    width: 48%;
    text-align: center;
    padding-top: 6.5em;
}

.css-desc p:nth-child(1) {
    color: var(--black);
    font-size: 10rem;
    font-weight: var(--font-weight-700);
}

.css-desc p:nth-child(2) {
    color: var(--black);
    font-size: 1.9rem;
    font-weight: var(--font-weight-600);
    margin-top: 0.8em;
}

.css-buttons {
    font-size: 1.9rem;
    margin-top: 1.2em;
    transition: all 250ms ease;
}

.css-buttons.main-flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.css-buttons a {
    display: inline-block;
    width: 200px;
    border-radius: var(--border-radius-size);
    padding: 0.6em 1.3em;
}

.css-buttons a:nth-child(1) {
    background-color: var(--green);
    color: var(--white);
}

.css-buttons a:nth-child(1):hover {
    background-color: var(--green-hover);
}

.css-buttons a:nth-child(2) {
    background-color: var(--light-black);
    color: var(--white);
}

.css-buttons a:nth-child(2):hover {
    background-color: var(--black);
}

.css-buttons a:nth-child(2) {
    margin-top: 1em;
}

.css-editor {
    width: 52%;
}

.css-editor.main-flex-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-editor .grayish {
    background-color: var(--grayish);
    width: 80%;
    height: 353px;
    border-radius: 5px;
    box-shadow: 
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.grayish > p {
    font-size: 2.4rem;
    font-weight: var(--font-weight-600);
    padding: 1em 0.62em 0;
}

.css-codes {
    width: 95%;
    height: 200px;
    margin: 1.3em auto;
    font-size: 1.46rem;
    font-family: Consolas;
    line-height: 1.3;
    background-color: var(--light-black);
    padding: 0.6em 0.9em;
}

.css-codes p:nth-child(2),
.css-codes p:nth-child(3) {
    margin-top: 0.3em;
}

.css-codes p:nth-child(4) {
    margin-top: 2.4em;
}

span.curly-bracket,
span.punctuation {
    color: var(--white);
    font-size: 1.5rem;
}

span.property {
    color: var(--soft-purple);
}

span.value {
    color: var(--editor-green);
}

/* ==========
   making html tutorial section responsive
   ========== */
@media screen and (max-width: 1000px) {
    .css-section.main-flex-1 {
        flex-direction: column;
        justify-content: space-between;
    }

    .css-desc , .css-editor {
        width: 100%;
    }

    .css-editor .grayish {
        margin-block: 6em 3em;
        width: 90%;
    }

    .css-editor .grayish div:nth-child(3) {
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    .css-editor {
        display: none !important;
    }

    .css-section {
        min-height: 490px;
    }
}

@media screen and (max-width: 450px) {
    .css-desc p:nth-child(2) {
        font-size: 1.7rem;
    }

    .css-buttons {
        margin-top: 3em;
    }
}

/* ==========
   styling javascript tutorial section
   ========== */
.js-section.main-flex-1 {
    display: flex;
    justify-content: space-between;
}

.js-section {
    min-height: 535px;
    background-color: var(--beige);
}

.js-desc {
    width: 48%;
    text-align: center;
    padding-top: 6.5em;
}

.js-desc p:nth-child(1) {
    color: var(--black);
    font-size: 10rem;
    font-weight: var(--font-weight-600);
}

.js-desc p:nth-child(2) {
    color: var(--black);
    font-size: 1.9rem;
    font-weight: var(--font-weight-600);
    margin-top: 0.8em;
}

.js-buttons {
    font-size: 1.9rem;
    margin-top: 1.2em;
    transition: all 250ms ease;
}

.js-buttons.main-flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-buttons a {
    display: inline-block;
    width: 200px;
    border-radius: var(--border-radius-size);
    padding: 0.6em 1.3em;
}

.js-buttons a:nth-child(1) {
    background-color: var(--green);
    color: var(--white);
}

.js-buttons a:nth-child(1):hover {
    background-color: var(--green-hover);
}

.js-buttons a:nth-child(2) {
    background-color: var(--light-black);
    color: var(--white);
    padding: 0.6em 0.5em;
}

.js-buttons a:nth-child(2):hover {
    background-color: var(--black);
}

.js-buttons a:nth-child(2) {
    margin-top: 1em;
}

.js-editor {
    width: 52%;
}

.js-editor.main-flex-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-editor .grayish {
    background-color: var(--grayish);
    width: 80%;
    height: 353px;
    border-radius: 5px;
    box-shadow: 
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.grayish > p {
    font-size: 2.4rem;
    font-weight: var(--font-weight-600);
    padding: 1em 0.62em 0;
}

.js-codes {
    width: 95%;
    height: 200px;
    margin: 1.3em auto;
    font-size: 1.46rem;
    font-family: Consolas;
    line-height: 1.3;
    background-color: var(--light-black);
    padding: 0.6em 0.9em;
}

.js-codes span.green {
    color: var(--editor-green);
}

.js-codes span.green.greater,
.js-codes p:nth-child(1) span.white,
.js-codes p:nth-child(1) span.less,
.js-codes p:nth-child(4) span.demo,
.js-codes p:nth-child(4) span.clparan,
.js-codes p:nth-child(5) span.semicolon,
.js-codes p:nth-child(6) span.semicolon {
    margin-left: -.48em;
}

.js-codes p:nth-child(2) {
    margin-top: 1em;
}

.js-codes p:nth-child(3) {
    margin-top: 0.5em;
}

.js-codes p:nth-child(8) {
    margin-top: 0.5em;
}

.js-codes p:nth-child(4),
   p:nth-child(5),
   p:nth-child(6) {
    margin-left: 1em;
}

.js-codes span.red {
    color: var(--red-brownish);
    margin-left: -0.48em;
}

.js-codes span.white {
    color: var(--white);
}

.js-codes span.function {
    color: var(--soft-purple);
}

/* ==========
   making javascript tutorial section responsive
   ========== */
@media screen and (max-width: 1138px) {
    .js-codes {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px) {
    .js-section.main-flex-1 {
        flex-direction: column;
        justify-content: space-between;
    }

    .js-desc , .js-editor {
        width: 100%;
    }

    .js-codes {
        height: 215px;
    }

    .js-codes p:nth-child(2) {
        margin-top: 1.8em;
    }

    .js-editor .grayish {
        margin-block: 6em 3em;
        width: 90%;
    }

    .js-editor .grayish div:nth-child(3) {
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    .js-editor {
        display: none !important;
    }

    .js-section {
        min-height: 490px;
    }
}

@media screen and (max-width: 450px) {
    .js-desc p:nth-child(1) {
        font-size: 7rem;
    }

    .js-desc p:nth-child(2) {
        font-size: 1.7rem;
    }

    .js-buttons {
        margin-top: 4em;
    }
}

/* ==========
   styling python tutorial section
   ========== */
.py-section.main-flex-1 {
    display: flex;
    justify-content: space-between;
}

.py-section {
    min-height: 535px;
    background-color: var(--light-black);
}

.py-desc {
    width: 48%;
    text-align: center;
    padding-top: 6.5em;
}

.py-desc p:nth-child(1) {
    color: var(--white);
    font-size: 10rem;
    font-weight: var(--font-weight-700);
}

.py-desc p:nth-child(2) {
    color: var(--white);
    font-size: 1.9rem;
    font-weight: var(--font-weight-600);
    margin-top: 0.8em;
}

.py-buttons {
    font-size: 1.9rem;
    margin-top: 1.2em;
    transition: all 250ms ease;
}

.py-buttons.main-flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.py-buttons a {
    display: inline-block;
    width: 200px;
    border-radius: var(--border-radius-size);
    padding: 0.6em 1.3em;
}

.py-buttons a:nth-child(1) {
    background-color: var(--green);
    color: var(--white);
}

.py-buttons a:nth-child(1):hover {
    background-color: var(--green-hover);
}

.py-buttons a:nth-child(2) {
    background-color: var(--white);
    color: var(--light-black);
    padding: 0.6em 0.5em;
}

.py-buttons a:nth-child(2):hover {
    background-color: var(--gray-hover);
}

.py-buttons a:nth-child(2) {
    margin-top: 1em;
}

.py-editor {
    width: 52%;
}

.py-editor.main-flex-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.py-editor .grayish {
    background-color: var(--grayish);
    width: 80%;
    height: 353px;
    border-radius: 5px;
    box-shadow: 
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.grayish > p {
    font-size: 2.4rem;
    font-weight: var(--font-weight-600);
    padding: 1em 0.62em 0;
}

.py-codes {
    width: 95%;
    height: 200px;
    margin: 1.3em auto;
    font-size: 1.46rem;
    font-family: Consolas;
    line-height: 1.3;
    background-color: var(--light-black);
    padding: 0.6em 0.9em;
}

.py-codes span.purplish {
    color: var(--soft-purple);
}

.py-codes span.bluish {
    color: var(--bluish);
}

.py-codes span.white {
    color: var(--white);
}

.py-codes span.green {
    color: var(--editor-green);
}

.py-codes p:nth-child(2) {
    margin-left: 1.3em;
    margin-top: .5em;
}

.py-codes p:nth-child(1) span:last-child,
.py-codes p:nth-child(2) span.green,
.py-codes p:nth-child(2) span:last-child {
    margin-left: -.48em;
}

/* ==========
   making python tutorial section responsive
   ========== */
   @media screen and (max-width: 1000px) {
    .py-section.main-flex-1 {
        flex-direction: column;
        justify-content: space-between;
    }

    .py-desc , .py-editor {
        width: 100%;
    }

    .py-codes {
        height: 215px;
    }

    .py-codes p:nth-child(2) {
        margin-top: 1.8em;
    }

    .py-editor .grayish {
        margin-block: 6em 3em;
        width: 90%;
    }

    .py-editor .grayish div:nth-child(3) {
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    .py-editor {
        display: none !important;
    }

    .py-section {
        min-height: 490px;
    }
}

@media screen and (max-width: 450px) {
    .py-desc p:nth-child(1) {
        font-size: 7rem;
    }

    .py-desc p:nth-child(2) {
        font-size: 1.7rem;
    }

    .py-buttons {
        margin-top: 3.5em;
    }
}

/* ==========
   styling SQL tutorial section
   ========== */
.sql-section.main-flex-1 {
    display: flex;
    justify-content: space-between;
}

.sql-section {
    min-height: 535px;
    background-color: var(--white);
}

.sql-desc {
    width: 48%;
    text-align: center;
    padding-top: 6.5em;
}

.sql-desc p:nth-child(1) {
    color: var(--black);
    font-size: 10rem;
    font-weight: var(--font-weight-700);
}

.sql-desc p:nth-child(2) {
    color: var(--black);
    font-size: 1.9rem;
    font-weight: var(--font-weight-600);
    margin-top: 0.8em;
}

.sql-buttons {
    font-size: 1.9rem;
    margin-top: 1.2em;
    transition: all 250ms ease;
}

.sql-buttons.main-flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sql-buttons a {
    display: inline-block;
    width: 200px;
    border-radius: var(--border-radius-size);
    padding: 0.6em 1.3em;
}

.sql-buttons a:nth-child(1) {
    background-color: var(--green);
    color: var(--white);
}

.sql-buttons a:nth-child(1):hover {
    background-color: var(--green-hover);
}

.sql-buttons a:nth-child(2) {
    background-color: var(--light-black);
    color: var(--white);
    padding: 0.6em 0.5em;
}

.sql-buttons a:nth-child(2):hover {
    background-color: var(--black);
}

.sql-buttons a:nth-child(2) {
    margin-top: 1em;
}

.sql-editor {
    width: 52%;
}

.sql-editor.main-flex-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sql-editor .grayish {
    background-color: var(--grayish);
    width: 80%;
    height: 353px;
    border-radius: 5px;
    box-shadow: 
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.grayish > p {
    font-size: 2.4rem;
    font-weight: var(--font-weight-600);
    padding: 1em 0.62em 0;
}

.sql-codes {
    width: 95%;
    height: 200px;
    margin: 1.3em auto;
    font-size: 1.46rem;
    font-family: Consolas;
    line-height: 1.3;
    background-color: var(--light-black);
    padding: 0.6em 0.9em;
}

.sql-codes span.white {
    color: var(--white);
}

.sql-codes span.green {
    color: var(--editor-green);
}

.sql-codes span.bluish {
    color: var(--bluish);
}

.sql-codes p:nth-child(2) {
    margin-top: .5em;
}

/* ==========
   making SQL tutorial section responsive
   ========== */
@media screen and (max-width: 1000px) {
   .sql-section.main-flex-1 {
        flex-direction: column;
        justify-content: space-between;
    }

    .sql-desc , .sql-editor {
        width: 100%;
    }

    .sql-codes {
        height: 215px;
    }

    .sql-codes p:nth-child(2) {
        margin-top: 1.8em;
    }

    .sql-editor .grayish {
        margin-block: 6em 3em;
        width: 90%;
    }

    .sql-editor .grayish div:nth-child(3) {
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    .sql-editor {
        display: none !important;
    }

    .sql-section {
        min-height: 490px;
    }
}

@media screen and (max-width: 450px) {
    .sql-desc p:nth-child(1) {
        font-size: 7rem;
    }

    .sql-desc p:nth-child(2) {
        font-size: 1.7rem;
    }

    .sql-buttons {
        margin-top: 3.5em;
    }
}

/* ==========
   styling programming languages section
   ========== */
.languages {
    font-size: 1.3rem;
    padding-block: 6.6em;
    transition: all 250ms ease;
    background-color: var(--light-black);
}

.languages-container {
    width: 95%;
    max-width: 1320px;
    margin: 0 auto;
}

.languages-container.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(270px, auto));
    column-gap: 7.6rem;
    row-gap: 5.8rem;
}

.languages-container > div {
    border-radius: 5px;
    text-align: center;
    padding-top: 3em;
}

.languages-container .title {
    font-size: 4.5rem;
    font-weight: var(--font-weight-700);
}

.languages-container .title-desc {
    font-size: 1.78rem;
    margin-top: .5em;
}

.languages .buttons {
    color: var(--white);
    background-color: var(--light-black);
    display: inline-block;
    text-align: center;
    margin-top: 3em;
    width: 200px;
    padding: 0.5em;
    border-radius: var(--border-radius-size);
}

.languages .buttons.first {
    margin-top: 2em;
}

.languages .buttons.second {
    margin-top: .8em;
}

.languages .buttons:hover {
    background-color: var(--black);
}

.php {
    background-color: var(--softPink);
}

.jquery {
    background-color: var(--beige);
}

.java {
    background-color: var(--java-white);
}

.cpp {
    background-color: var(--soft-grayish);
}

.w3css {
    background-color: var(--w3css-bluish);
}

.bs {
    background-color: var(--java-white);
}

.bs-buttons.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ==========
   making programming languages section responsive
   ========== */
@media screen and (max-width: 975px) {
    .languages-container.grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(270px, auto));
        row-gap: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .bs {
        padding-bottom: 1.5em;
    }
}

/* ==========
   styling technologies section
   ========== */
.tech {
    font-size: 1.3rem;
    transition: all 250ms ease;
    background-color: var(--light-black);
    padding-bottom: 3em;
}

.tech-container.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 115px);
    column-gap: 7.6rem;
    row-gap: 5.8rem;
}

.tech-container {
    width: 95%;
    max-width: 1320px;
    margin: 0 auto;
}

.tech a {
    display: inline-block;
    text-align: center;
    padding-top: 1.2em;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    color: var(--black);
    font-weight: var(--font-weight-600);
}

.tech-container > div {
    border-radius: 5px;
}

.tech-container > div:hover {
    opacity: 0.9;
}

.tech .csharp {
    background-color: var(--softPink);
}

.tech .R {
    background-color: var(--beige);
}

.tech .kotlin {
    background-color: var(--java-white);
}

.tech .mysql {
    background-color: var(--soft-grayish);
}

.tech .node {
    background-color: var(--w3css-bluish);
}

.tech .react {
    background-color: var(--softPink);
}

.tech .json {
    background-color: var(--beige);
}

.tech .angular {
    background-color: var(--java-white);
}

.tech .w3js {
    background-color: var(--soft-grayish);
}

.tech .xml {
    background-color: var(--w3css-bluish);
}

.tech .sass {
    background-color: var(--softPink);
}

.tech-container .icons {
    background-color: var(--beige);
    padding-top: 0;
}

.tech .rwd {
    background-color: var(--java-white);
}

.tech .graphics {
    background-color: var(--soft-grayish);
}

.tech .svg {
    background-color: var(--w3css-bluish);
}

.tech .canvas {
    background-color: var(--softPink);
}

.tech .raspberry {
    background-color: var(--beige);
}

.tech .cyber {
    background-color: var(--java-white);
}

.tech .colors {
    background-color: var(--soft-grayish);
}

.tech .git {
    background-color: var(--w3css-bluish);
}

.tech .matplotlib {
    background-color: var(--java-white);
}

.tech .numpy {
    background-color: var(--beige);
}

.tech .pandas {
    background-color: var(--java-white);
}

.tech .scipy {
    background-color: var(--soft-grayish);
}

.tech .asp {
    background-color: var(--soft-grayish);
}

.tech .accessibility {
    background-color: var(--java-white);
}

.tech .appml {
    background-color: var(--beige);
}

.tech .go {
    background-color: var(--java-white);
}

.tech .excel {
    background-color: var(--green);
    grid-column: 1 / 3;
}

.tech .excel a {
    color: var(--white);
}

.tech .googlesheets {
    background-color: var(--soft-grayish);
    grid-column: 3 / -1;
}

.tech .machinelearning {
    background-color: var(--softPink);
    grid-column: 1 / 3;
}

.tech .ai {
    background-color: var(--java-white);
    grid-column: 3 / -1;
}

.tech .statistics {
    background-color: var(--w3css-bluish);
    grid-column: 1 / 3;
}

.tech .datascience {
    background-color: var(--beige);
    grid-column: 3 / -1;
}

/* ==========
   making tech section responsive
   ========== */
@media screen and (max-width: 975px) {
    .tech-container.grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(20, 115px);
        row-gap: 4rem;
    }

    .tech .excel,
    .tech .googlesheets,
    .tech .machinelearning,
    .tech .ai,
    .tech .statistics,
    .tech .datascience {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 590px) {
    .tech-container.grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(34, 115px);
        row-gap: 3rem;
    }
}

/* ==========
   styling footer section
   ========== */
footer {
    font-size: 2rem;
    min-height: 475px;
    color: white;
    background-color: var(--footer-blue);
    padding-block: 3em;
}

.short-menu {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}

.short-menu.flex {
    display: flex;
    justify-content: space-between;
}

.items a {
    font-size: 17px;
    font-weight: var(--font-weight-600);
    display: inline-block;
    text-align: center;
    width: 100px;
    color: var(--light-black);
    border-radius: 5px;
    padding: 0.8em;
    background-color: var(--white);
}

.items a:nth-child(3) {
    width: 110px;
}

.items a:nth-child(2),
.items a:nth-child(3) {
    margin-left: 0.5em;
}

.items a:hover {
    opacity: 0.9;
}

.about-forum {
    margin-left: auto;
    padding-top: .5em;
}

.about-forum a {
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.about-forum a:hover {
    color: var(--green);
}

.about-forum span {
    margin-right: 4px;
}

footer .icons {
    text-align: right;
    width: 95%;
    max-width: 1440px;
    margin: 1.5em auto;
}

footer .icons a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
    width: 40px;
    height: 40px;
    color: var(--white);
    border-radius: 5px;
}

footer .icons a:nth-child(1),
footer .icons a:nth-child(2) {
    margin-right: 5px;
}

footer .icons a:hover {
    color: var(--black);
    background-color: var(--white);
}

.description {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.description .privacy {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: var(--font-weight-600);
}

.description .privacy a {
    color: var(--white);
    text-decoration: underline;
}

.description .privacy a:hover {
    color: var(--green);
}

.description .copy-right {
    font-size: 1.5rem;
    font-weight: var(--font-weight-600);
}

.description .copy-right a {
    color: var(--white);
    text-decoration: underline;
}

.description .copy-right a:hover {
    color: var(--green);
}

.description .like {
    margin-top: 2em;
}

.description .like a {
    text-align: center;
    color: var(--white);
    font-size: 3.5rem;
}

.description .like a:hover {
    opacity: 0.8;
}

.description .shop {
    margin: 2em auto 0;
    width: 80%;
    max-width: 750px;
}

.description .shop a {
    color: var(--white);
    background-color: var(--green);
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: var(--border-radius-size);
    font-weight: var(--font-weight-600);
}

.description .shop a:hover {
    opacity: 0.8;
}

/* ==========
   making footer section responsive
   ========== */
@media screen and (max-width: 975px) {
    .short-menu.flex {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .about-forum {
        margin: 1em 0 0;
    }

    .items a:nth-child(2),
    .items a:nth-child(3) {
        margin-left: 0.1em;
    }

    .items a {
        padding: 0.5em 0.6em;
    }

    footer .icons {
        text-align: center;
    }
}

@media screen and (max-width: 357px) {
    .items  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .items a:nth-child(2),
    .items a:nth-child(3) {
        margin-top: 14px;
    }
}



/* ==============
    developer:
        Ali Hoseinbaglou
    github profile: 
        https://github.com/alihoseinbaglou
   ================= */